<div class="container">
  <% if @fixture_available == false %>
    <br>
    <h1 class="text-center">Fixture no disponible</h1>
  <% else %>

    <%if @tournament.type == "Champions League" %>
      <% rounds_array = (1..6).to_a %>
      <div class="d-flex justify-content-center">
        <p class="match_card_g1 border text-center">Grupo 1</p>
        <p class="match_card_g2 border text-center">Grupo 2</p>
        <p class="match_card_g3 border text-center">Grupo 3</p>
        <p class="match_card_g4 border text-center">Grupo 4</p>
        <p class="match_card border text-center">Eliminatorias</p>
      </div>
    <% elsif @tournament.type == "Express" %>
      <% rounds_array = (1..5).to_a %>
      <div class="d-flex justify-content-center">
        <p class="match_card_g2 border text-center">Grupo 1</p>
        <p class="match_card_g1 border text-center">Grupo 2</p>
        <p class="match_card_g3 border text-center">Competencia Primer Lugar</p>
        <p class="match_card border text-center">Competencia Quinto Lugar</p>
      </div>
    <% elsif @tournament.type == "Americano" %>
      <% rounds_array = (1..@participations.size-1).to_a %>
      <div class="d-flex justify-content-center">
        <% if @winners == true %>
          <% if @winner1.partner_id != nil %>
            <% winner1_name = "#{User.find(@winner1.user_id).name} & #{User.find(@winner1.partner_id).name}" %>
          <% else %>
            <% winner1_name = "#{User.find(@winner1.user_id).name} #{User.find(@winner1.user_id).last_name}" %>
          <% end %>
          <% if @winner2.partner_id != nil %>
            <% winner2_name = "#{User.find(@winner2.user_id).name} & #{User.find(@winner2.partner_id).name}" %>
          <% else %>
            <% winner2_name = "#{User.find(@winner2.user_id).name} #{User.find(@winner2.user_id).last_name}" %>
          <% end %>
          <% if @winner3.partner_id != nil %>
            <% winner3_name = "#{User.find(@winner3.user_id).name} & #{User.find(@winner3.partner_id).name}" %>
          <% else %>
            <% winner3_name = "#{User.find(@winner3.user_id).name} #{User.find(@winner3.user_id).last_name}" %>
          <% end %>
          <p class="match_card_g3 border text-center"><%= "1°: #{winner1_name}" %></p>
          <p class="match_card_g1 border text-center"><%= "2°: #{winner2_name}" %></p>
          <p class="match_card_g2 border text-center"><%= "3°: #{winner3_name}" %></p>
        <% else %>
          <p></p>
        <% end %>
      </div>
    <% end %>

    <div class="border mt-2">
      <h3 class="text-center">Participantes</h3>
      <div class="text-center d-flex justify-content-center">
      <% num = 1 %>
        <div>
          <% half = @participations.size / 2 %>
          <% team_names = {} %>
          <% @participations[0...half].each do |p| %>
            <% team_name = "#{User.find(p.user_id).name} #{User.find(p.user_id).last_name}" %>
            <% if p.partner_id != nil %>
              <% team_name = "#{User.find(p.user_id).name} & #{User.find(p.partner_id).name}" %>
            <% end %>
            <p class="border m-2 px-2 border-0",  style="font-family: Tahoma"><%= "#{num}. #{team_name} - #{User.find(p.user_id).email}" %></p>
            <% team_names[User.find(p.user_id).email] = "#{num}. #{team_name}" %>
            <% num+=1 %>
          <% end %>
        </div>
        <div>
        <% @participations[half...@participations.size].each do |p| %>
          <% team_name = "#{User.find(p.user_id).name} #{User.find(p.user_id).last_name}" %>
          <% if p.partner_id != nil %>
            <% team_name = "#{User.find(p.user_id).name} & #{User.find(p.partner_id).name}" %>
          <% end %>
          <p class="border m-2 px-2 border-0"><%= "#{num}. #{team_name} - #{User.find(p.user_id).email}" %></p>
          <% team_names[User.find(p.user_id).email] = "#{num}. #{team_name}" %>
          <% num+=1 %>
        <% end %>
        </div>
      </div>
    </div>


    <div class="d-flex p-2 m-2 justify-content-center">

      <% rounds_array.each do |round_number| %>
        <div>
          <% matches_array = @matches.where(round: round_number) %>
          <h5 class="text-center"><%= "Ronda #{round_number}" %></h5>

          <% matches_array.each do |m|%>
            <% if m.tournament.type == "Champions League" && m.match_number.in?([1, 2, 9, 10, 17, 18]) || m.tournament.type == "Express" && m.match_number.in?([3, 4, 7, 8, 11, 12]) || m.tournament.type == "Americano"%>
              <div class="p-3 m-2 border text-center w-16 match_card_g1">
            <% elsif m.tournament.type == "Champions League" && m.match_number.in?([3, 4, 11, 12, 19, 20]) || m.tournament.type == "Express" && m.match_number.in?([1, 2, 5, 6, 9, 10])%>
              <div class="p-3 m-2 border text-center w-16 match_card_g2">
            <% elsif m.tournament.type == "Champions League" && m.match_number.in?([5, 6, 13, 14, 21, 22]) || m.tournament.type == "Express" && m.match_number.in?([13, 14, 17, 18])%>
              <div class="p-3 m-2 border text-center w-16 match_card_g3">
            <% elsif m.tournament.type == "Champions League" && m.match_number.in?([7, 8, 15, 16, 23, 24])%>
              <div class="p-3 m-2 border text-center w-16 match_card_g4">
            <% else %>
              <div class="p-3 m-2 border text-center w-16 match_card">
            <% end %>

                <h6 style="color: white; text-align: center;"><%= "Partido #{m.match_number}" %></h6>

                <%# Si partido no ha finalizado y jugadores están definidos %>
                <% if m.first_team_id != nil && m.second_team_id != nil && m.winner_id.nil? %>
                  <% team1 = Participation.find(m.first_team_id) %>
                  <% team2 = Participation.find(m.second_team_id) %>
                  <% user_team1 = User.find(team1.user_id) %>
                  <% user_team2 = User.find(team2.user_id) %>
                  <%= form_with url: match_games_path(m.id), method: :post do |f| %>
                    <p style="color: white; text-align: center;"><%= "#{team_names[user_team1.email]}" %></p>
                    <% if current_user == @tournament.user %>
                      <p class="d-flex justify-content-center"><%= f.number_field :games_first_team, class:"text-center", style: "width: 70px; overflow-x: hidden;" %></p>
                    <% end %>
                    <p style="color: white; text-align: center;">VS</p>
                    <p style="color: white; text-align: center;"><%= "#{team_names[user_team2.email]}" %></p>
                    <% if current_user == @tournament.user %>
                      <p class="d-flex justify-content-center pb-2"><%= f.number_field :games_second_team, class:"text-center", style: "width: 70px" %></p>
                      <%= f.submit "Ingresar puntaje de set", class: "btn btn-primary", style: "background-color: #C6E3CC; color: black;" %>
                    <% end  %>
                  <% end %>
                  <%# Mostrar sets anteriores %>
                  <% sets = Game.where(match_id: m.id) %>
                  <div class="d-flex justify-content-center">
                    <% sets.each do |s| %>
                        <div class="border p-2 m-1">
                        <p style="color: white;" ><%= s.games_first_team %></p>
                        <p style="color: white;" ><%= s.games_second_team %></p>
                        </div>
                    <% end %>
                  </div>
                  <%# Finalizar partido %>
                  <% if current_user == @tournament.user %>
                    <%= form_with url: match_path(m.id), method: :patch do |f| %>
                      <div class="m-1"><%= f.submit "Finalizar partido", style:"background-color: #C6E3CC; color: black;" %></div>
                    <% end  %>
                  <% end %>

                <%# Si partido finalizó %>
                <% elsif m.first_team_id != nil && m.second_team_id != nil && m.winner_id != nil %>
                  <% team1 = Participation.find(m.first_team_id) %>
                  <% team2 = Participation.find(m.second_team_id) %>
                  <% user_team1 = User.find(team1.user_id) %>
                  <% user_team2 = User.find(team2.user_id) %>
                  <% if m.winner_id == m.first_team_id %>
                    <p class= "border text-center" style= "background-color: #C6E3CC; color: black;"><%= "#{team_names[user_team1.email]}" %></p>
                    <p style="color: white; text-align: center;">VS</p>
                    <p style="color: white; text-align: center;"><%= "#{team_names[user_team2.email]}" %></p>
                  <% else  %>
                    <p style="color: white; text-align: center;"><%= "#{team_names[user_team1.email]}" %></p>
                    <p style="color: white; text-align: center;">VS</p>
                    <p class= "border text-center" style= "background-color: #C6E3CC; color: black;"><%= "#{team_names[user_team2.email]}" %></p>
                  <% end %>
                  <% sets = Game.where(match_id: m.id) %>
                  <div class="d-flex justify-content-center">
                    <% sets.each do |s| %>
                        <div class="border p-2 m-1">
                        <p style="color: white;"><%= s.games_first_team %></p>
                        <p style="color: white;"><%= s.games_second_team %></p>
                        </div>
                    <% end %>
                  </div>

                <%# Si no se han definido jugadores %>
                <% else %>
                  <p style="color: white; text-align: center;"><%= "#{m.first_team_name}" %></p>
                  <p style="color: white; text-align: center;">VS</p>
                  <p style="color: white; text-align: center;"><%= "#{m.second_team_name}" %></p>
                <% end %>

              </div>
          <% end %>
        </div>
      <% end %>
    </div>

  <% end %>
</div>
