  <h1>Create your tournament</h1>
  <div class="container">
    <%= simple_form_for(@tournament) do |f| %>
      <%= f.input :name %>
      <%= f.input :ubication_address %>
      <%= f.input :ubication_name %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.input :duration %>
      <%= f.input :type, collection: ["Champions League", "Americano", "Express"]  %>
      <%= f.input :category %>
      <%= f.input :gender, collection: ["Femenino", "Masculino", "Mixto"] %>
      <%= f.input :min_matches %>
      <%= f.input :max_matches %>
      <%= f.input :places %>
      <%= f.input :match_duration %>
      <%= f.input :awards %>
      <%= f.input :other %>
      <%# <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.button :submit, "Save" %>
    <% end %>

    <%= link_to "Back to tournaments", tournaments_path %>
