<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo", style: "margin-left: 50px;" "width: 50%; max-width: 100px;" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Inicio", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Torneos", tournaments_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Mis torneos", my_tournaments_tournaments_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "https://w7.pngwing.com/pngs/505/761/png-transparent-login-computer-icons-avatar-icon-monochrome-black-silhouette.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Publica tu torneo", new_tournament_path, class: "dropdown-item" %>
              <%# <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              <%= link_to "Mis publicaciones", my_tournaments_tournaments_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>




    <%# <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <h2 class="title_t">We-Padel</h2>
            <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div> %>



<%# <div class="area"></div><navv class="main-menu">

            <ul>
                <li>
                    <a href="https://jbfarrow.com">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                           INICIO
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa fa-globe fa-2x"></i>
                        <span class="nav-text">
                            Todos los Torneos
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-comments fa-2x"></i>
                        <span class="nav-text">
                            Chat
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="#">
                      <i class="fa fa-solid fa-venus-mars fa-2x"></i>
                      <span class="nav-text">
                            Categoria
                        </span>
                    </a>

                </li>
                <li>
                    <a href="#">
                      <i class="fa fa-solid fa-city fa-2x"></i>
                      <span class="nav-text">
                            Ciudad
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                      <i class="fa fa-solid fa-calendar-days fa-2x"></i>
                        <span class="nav-text">
                           Fechas de Torneos
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                    <i class="fa fa-solid fa-chess fa-2x"></i>
                        <span class="nav-text">
                            Torneos Disponibles
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                      <i class="fa fa-solid fa-right-to-bracket fa-2x"></i>
                        <span class="nav-text">
                            Registrate
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                   <a href="#">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            SALIR
                        </span>
                    </a>
                </li>
            </ul>
        </navv>
</div> %>
