<!---Banner-->

<div class="banner">
  <div class="bannerr">
    <h1>Encuentra <strong>las mejores</strong> Competencias  <strong>de Padle</strong>!</h1>
  </div>
</div>


 <!--fin Banner-->

 <div class="container">
  <%= form_with url: tournaments_path, method: :get, class: "d-flex" do |f| %>
    <%= f.select :category, options_for_select(@categories), {prompt: 'Categoría', :multiple => true } %>
    <%= f.select :type, options_for_select(@types), {prompt: 'Tpo de torneo', :multiple => true } %>
    <%= f.number_field(:max_price) %>
    <%= f.date_field(:start_date) %>
    <%= f.date_field(:end_date) %>
    <%= f.submit "Buscar" %>
  <% end %>
  
  <!-- Aqui comienzan las card de tournament-->

<div class="container">
  <div class="row mt3 mb-5">
    <% @tournaments[0, [@tournaments.size, 3].min].each do |tournament| %>
      <div class="col-4">
        <span style="display: block; text-align: center; font-size: 35px; color: black; font-weight: bold; text-shadow: 2px 2px 4px #000000;"> <%= tournament.name %> </span>
        <section class="articles">
          <article>
            <div class="article-wrapper">
              <figure>
                <%# <img src="https://picsum.photos/id/1011/800/450" alt="" /> %>
                <% if tournament.photo.key != nil %>
                <%= image_tag tournament.photo %>
                <% end %>
              </figure>
              <div class="article-body">
                <h2><%= tournament.ubication_name %></h2>
                <style>
                  h5 {
                    text-align: center;
                    text-shadow: 1px 1px #ccc;
                  }
                </style>

                <h5><%= number_to_currency(tournament.price, precision: 0, unit: "CLP $ ", delimiter: ".") %></h5>
                                <a href="/tournament/<%=tournament.id%>" class="read-more">
                  Read more <span class="sr-only">about this is some title</span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                </a>
              </div>
            </div>
          </article>
        </section>
      </div>
    <% end %>
  </div>
  <!-- Aqui terminan las card de Tournament-->
