<!---Banner-->

<div class="banner">
  <div class="bannerr">
    <div style="margin-left: 90px;">
      <h1>Encuentra <strong>las Mejores</strong> Competencias  <strong>de Padel</strong>!</h1>
      <p><span data-controller="typed-js"></span></p>
    </div>
      </div>
</div>


 <!--fin Banner-->

  <div class="container">
    <div class="form_style">
      <%= form_with url: tournaments_path, method: :get, class: "d-flex mt-2" do |f| %>
        <div class="row mx-auto">
         <div class="col-sm-6 col-md-4 col-lg-2">
           <%= f.select :category, options_for_select(@categories), {prompt: 'Categoría', :multiple => true, size: 3 } %>
         </div>
         <div class="col-sm-6 col-md-4 col-lg-2">
           <%= f.select :type, options_for_select(@types), {prompt: 'Tipo de torneo', :multiple => true, size: 3 } %>
         </div>
         <div class="col-sm-6 col-md-4 col-lg-2">
            <%= f.number_field :max_price, placeholder: 'Precio máximo' %>
         </div>
         <div class="col-sm-6 col-md-4 col-lg-2">
          <input required="Fecha de Inicio" type="text" class="form-control" placeholder="Date" onfocus="(this.type='date')"/>
         </div>
         <div class="col-sm-6 col-md-4 col-lg-2">
           <%= f.date_field :end_date, label: 'Fecha de finalización' %>
          </div>
         <div class="col-sm-6 col-md-4 col-lg-2">
            <%= f.submit "Buscar", class: "btn btn-primary", style: "background-color: #184A22;" %>
         </div>
       </div>
      </div>
     <% end %>
    <div class="row mt-5 mb-5">
  <!-- Aqui comienzan las card de tournament-->
      <%# This code displays a list of tournaments %>
      <% @tournaments[0, [@tournaments.size, 3].min].each do |tournament| %>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <section class="articles mt-3">
            <article>
              <div class="article-wrapper">
                <figure>
                  <%# Display the tournament photo if available %>
                  <% if tournament.photo.key.nil?%>
                    <img src="https://www.tourinnovacion.cl/wp-content/uploads/2022/06/padel.jpg">
                  <% else %>
                    <%= image_tag(tournament.photo, alt: "Tournament photo") unless tournament.photo.key.nil? %>
                  <% end %>
                </figure>
                <div class="article-body">
                  <h5 class="article-title"><%= tournament.name %></h5>
                  <h6><%= number_to_currency(tournament.price, precision: 0, unit: 'CLP $ ', delimiter: '.') %></h6>
                  <a href="/tournaments/<%=tournament.id%>" class="read-more">
                    Más información <span class="sr-only">about this is some title</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                  </a>
                </div>
              </div>
            </article>
          </section>
        </div>
      <% end %>
    </div>
  </div>




  <!-- Aqui terminan las card de Tournament-->
