<!DOCTYPE html>
  <head>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= favicon_link_tag "logo_oficial.png", rel:"icon", type: "image/png" %>
    <%= render 'shared/ios_pwa_links' %>
    <title>Wepadel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>

    <style>
      <%= ".msg-#{current_user&.id}" %> {
      background-color: #007bff !important;
      padding: 10px;
      }
      <%= ".cont-#{current_user&.id}" %> {
      display: flex;
      justify-content: flex-end;
      }
    </style>
  </head>

  <body>
      <div class="contenedor">
        <%= render "shared/navbar" %>
        <%= render "shared/flashes" %>
        <%= yield %>
      </div>
  </body>



  <footer>
    <%= render "shared/footer" %>
  </footer>

</html>
